* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* nav styles */
.nav {
  background: #2692b3;
  color: white;
  padding: 8px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav p {
  color: white;
  font-weight: bolder;
  font-size: 22px;
}
.userProfile {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  font-weight: bold;
  background-color: white;
  padding: 7px;
  color: black;
  border-radius: 1rem;
}
.nav img {
  width: 30px;
  border-radius: 50%;
}

/* feed ui styles */

.feedPosts {
  display: grid;
  grid-template-columns: repeat(repeat, minmax(350px));
  gap: 1rem;
  /* padding: 1rem; */
  justify-items: center;
}

/* post component styles */
.post {
  min-width: 560px;
  /* border: 1px solid #fffdfd; */
  border-radius: 10px;
  padding: 1rem;
  margin: 1rem;
  background: #fffdfd;
  box-shadow: 0 7px 10px rgb(100, 98, 98);
}

.post .caption {
  color: rgb(38, 39, 38);
  font-weight: 600;
  padding: 10px 6px;
}

.userName {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(161, 159, 159);

  margin-bottom: 1rem;
}

.userName h2 {
  font-weight: 700;
}
.userName img {
  border-radius: 50%;
  margin-right: 1rem;
}

.post-image {
  width: 100%;
}
.post-image img {
  width: 100%;
  max-height: 50vh;
  margin: 0.4rem;
  border-radius: 7px;
}

.post-buttons,
.post-likes {
  display: flex;
  justify-content: space-between;
}

.post-buttons i {
  padding: 6px;
  border-radius: 50%;
  cursor: pointer;
}
.post-buttons i:hover {
  background: #bbb5b5;

  border-radius: 50%;
  cursor: pointer;
}
.post-likes p span {
  font-weight: 300;
  color: grey;
}

.comment-box {
  padding: 1rem;
  display: flex;
  gap: 1rem;
  justify-content: end;
}

.comment-box input {
  border: 1px solid black;
  padding: 7px;
  border-radius: 9px;
}

.comment-box input::placeholder {
  color: black;
}
.comment-box button {
  background: #000;
  color: white;
  padding: 7px 15px;
  border-radius: 8px;
}
